Package: librhash0
Source: rhash
Version: 1.3.6-3
Architecture: amd64
Maintainer: Debian Security Tools <team+pkg-security@tracker.debian.org>
Installed-Size: 549
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0)
Recommends: libssl1.1 | libssl1.0.2 | libssl1.0.0
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://rhash.sourceforge.net/
Description: shared library for hash functions computing
 LibRHash is a professional, portable, thread-safe C library for computing
 magnet links and a wide variety of hash sums, such as CRC32, MD4, MD5, SHA1,
 SHA256, SHA512, AICH, ED2K, Tiger, DC++ TTH, BitTorrent BTIH,
 GOST R 34.11-94, RIPEMD-160, HAS-160, EDON-R, Whirlpool and Snefru.
 Hash sums are used to ensure and verify integrity of large volumes of data
 for a long-term storing or transferring.
 .
 Features:
  * Small and easy to learn interface.
  * Hi-level and Low-level API.
  * Allows calculating of several hash functions simultaneously.
  * Portability: the library works on Linux, *BSD and Windows.
